html, body
{
    height: 100%;
    margin:0;
    padding:0;
}

#clock {
    height: 300px; 
    width: 300px;
}

#ball {
    z-index: 5;
    position: absolute;
    left: 300px;
    top: 200px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
}